@import "../../vars.css";

.navbar
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    margin: 0;

    padding: 20px;
    padding-top: 25px;
    padding-bottom: 50px;

}

 
 .navbar::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
 
    background: var(--color-bg-dim);
    mask: linear-gradient(to top, transparent, black 35%);
    backdrop-filter: blur(2px);
 }

.title 
{
    /*font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);*/

    width: 135px;
    cursor: help;

    vertical-align: middle;
    margin-left: 40%;


}



.menu
{
    display: flex;
 
}

.menuBtn
{
    display: none;
}

.menuItems
{
    display: flex;
    gap: 30px;
    list-style: none;
    margin-right: 75px;
}

.menuItem
{
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
    background-color: none;
    padding: 15px;
    transition-duration: .5s;
    
}

.menuItem:hover
{
    background-color: var(--color-bg-dim);
    border-radius: 10px;
    box-shadow: 0px 0px 8px var(--color-plain);
}

.fisbuk 
{
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
    background-color: none;
    padding: 15px;
    transition-duration: .5s;
    
    background: linear-gradient(90deg, 
              var(--color-plain) 0%, 
              var(--color-hotPink) 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 200% 200%;
    font-family: var(--font-outfit);
    font-weight: bold;
    
}

.fisbuk:hover
{
    background-color: var(--color-bg-dim);
    border-radius: 10px;
    box-shadow: 0px 0px 8px var(--color-hotPink);
}

@media screen and (max-width: 1100px)
{
    .title
    {
        width: 120px;
    }
    
    .navbar
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu 
    {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .title
    {
        margin-left: 10%;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
    }

    .menuItems
    {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: rgb(25, 55, 109);
        background: linear-gradient(0deg, rgba(25,55,109,0.2) 0%, rgba(25,55,109,1) 100%);
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }

    .menuOpen
    {
        display: flex;
        z-index: 1;
    }

    
}