@import "../../vars.css";

.container 
{
    position: relative;
    display: flex;
    
    justify-content: space-between;
    margin-top: 8vw;
    align-items: center;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}


.content 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title
{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-robot);
    background: linear-gradient(90deg, 
              var(--color-plain) 30%, 
              var(--color-hotPink) 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 200% 200%;
    background-repeat: no-repeat;
    transition: background 0.8s;
}

.title:hover
{
    background-size: 100% 100%;
}

.name1
{
    
    transition-duration: 2s;
}

.name1:hover
{
    text-shadow: 0px 0px 6px var(--color-primary);
}

.inter1
{
    background: linear-gradient(90deg, 
              var(--color-primary) 30%, 
              var(--color-hotPink) 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 150% 100%;
    background-repeat: no-repeat;
    transition: background 0.8s;
    font-family: var(--text-robot);
   
}

.inter1:hover
{
    background-size: 0% 100%;
}

.description
{
    font-size: 30px;
    font-family: var(--font-robot);
    margin-bottom: 52px;

    z-index: 1 ;
 
}

.description a
{
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-robot);
    transition-duration: .5s;
}

.description a:hover
{
    text-shadow: 0px 0px 3px var(--color-hotPink);
}



.glow1
{
    text-shadow: 0px 0px 8px var(--color-primary);
    color: var(--color-primary);
    text-decoration: wavy;
    transition-duration: .5s;
    font-family: var(--text-robot);
}

.glow1:hover
{
    text-shadow: 0px 0px 12px var(--color-hotPink);
}

.heroBtn
{
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600px;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.heroImg
{
    width: 50%;
    z-index: 1;

    animation-name: floatImg;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    flex-direction: column;
    margin-top: 0%;
    align-self: flex-start;

}

@keyframes floatUp
{
    0%
    {
        transform: translate(0, 0px);
    }

    50%
    {
        transform: translate(0, 100px);
    }

    100%
    {
        transform: translate(0, -0px);
    }

}

@keyframes floatImg
{
    0%
    {
        transform: translate(0, 0px);
    }

    50%
    {
        transform: translate(0, 10px);
    }

    100%
    {
        transform: translate(0, -0px);
    }

}

.topBlur
{
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 765px;
    background: var(--color-topBlur);
    filter: blur(100px);
    z-index: 0;

    animation-name: floatUp;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.bottomBlur
{
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 250px;
    min-height: 350px;
    top: 240px;
    right: -25vw;
    border-radius: 764px;
    background: var(--color-topBlur);
    filter: blur(100px);
    z-index: 0;

    animation-name: floatUp;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@media screen and (max-width: 830px)
{
    .container
    {
        flex-direction: column-reverse;
    }

    .content
    {
        align-items: center;
    }

    .heroImg
    {
        width: 70%;
    }
}
